@import "normalize";
@import "fonts";
@import "variables";
@import "icons";
@import "../../components/elements/elements";

body{
  @include main-theme-font-regular;
  font-size: 16px;
}

.app{
  display: flex;
}

.title{
  @include main-theme-font-regular;
  text-align: center;
  &::before{
    padding-right: 10px;
  }
  &::after{
    font-family: FontAwesome, sans-serif;
    @include heart-icon;
    font-size: 30px;
    color: red;
    padding-left: 10px;
  }
}